:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --border-radius-2: 8px;
  --border-radius-1: 4px;
  --padding-2: 8px;
  --padding-1-5: 6px;
  --padding-1: 4px;
  --shadow-md: 0 6px 24px 0 rgba(0, 0, 0, 0.1);
  --shadow-sm: 0 0 16px 0 rgba(0, 0, 0, 0.05);
}

body {
  background: var(--cyan-50);
}
#graph {
  display: none;
}
gitline-legend {
  background-color: #fff;
  border-radius: 1px solid #ececec;
}

.p-submenu-list {
  border-radius: var(--border-radius-2);
  padding: var(--padding-1);
  top: calc(100% + 6px);
}
.p-menubar .p-submenu-list {
  box-shadow: var(--shadow-md);
}
.p-menubar-root-list > .p-menuitem-active > .p-submenu-list {
  padding: var(--padding-1);
}
.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link,
.p-menuitem .p-menuitem-active,
.p-menuitem {
  border-radius: var(--border-radius-1);
}
.p-menuitem,
.p-menubar .p-submenu-list > .p-menuitem-active > .p-submenu-list {
  padding: var(--padding-1);
}
.p-menubar-root-list > .p-menuitem.p-menuitem-active {
  box-shadow: var(--shadow-md);
  background: #fff;
}
.p-breadcrumb ul li.p-breadcrumb-chevron {
  font-size: 12px;
}
.p-breadcrumb.p-component {
  padding: 0;
  display: inline-block;
  border: none;
}

.p-breadcrumb.p-component > ul {
  margin: 12px;
  padding: 12px;
  display: inline-flex;
}
#root > div.p-menubar.p-component > div > div > nav > ul > li.p-breadcrumb-home,
#root > div.p-menubar.p-component > div > div > nav > ul > li:nth-child(2),
#root > div.p-menubar.p-component > div > div > nav > ul > li:nth-child(3),
#root > div.p-menubar.p-component > div > div > nav > ul > li:nth-child(4) {
  display: none;
}
[aria-label="Breadcrumb"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}
#root > div.p-menubar.p-component > ul {
  margin-left: auto;
}
@media screen and (max-width: 960px) {
  .p-menubar .p-menubar-button {
    margin-left: auto;
  }
}

#root > nav > div {
  width: 100%;
}
.p-tabmenuitem {
  flex-grow: 1;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.origin__local {
  background: var(--pink-900);
  color: var(--pink-100);
}
.origin__remote {
  background: var(--gray-900);
  color: var(--gray-100);
}
.teal {
  background-color: var(--teal-200);
  color: var(--teal-900);
}
.primary {
  background-color: var(--primary-200);
  color: var(--primary-900);
}
.pink {
  background-color: var(--pink-200);
  color: var(--pink-900);
}
.red {
  background-color: var(--red-200);
  color: var(--red-900);
}
.gray {
  background-color: var(--gray-200);
  color: var(--gray-900);
}
.yellow {
  background-color: var(--yellow-200);
  color: var(--yellow-900);
}
.green {
  background-color: var(--green-200);
  color: var(--green-900);
}
.chip-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  gap: 8px;
}
#root > div.p-menubar.p-component > div > div > nav > ul {
  margin: 0;
  padding: 0;
}

#root > div.p-menubar.p-component {
  padding: 8px;
}
#root > div:nth-child(3) > div,
#root > div:nth-child(3) > div > div.p-datatable-wrapper {
  box-shadow: var(--shadow-sm);
  border-radius: var(--border-radius-2);
}
#root > div:nth-child(3) > div > div.p-datatable-header {
  border-top-left-radius: var(--border-radius-2);
  border-top-right-radius: var(--border-radius-2);
  overflow: hidden;
}
#root > div:nth-child(3) > div > div.p-datatable-wrapper > table {
  border-radius: var(--border-radius-2);
  overflow: hidden;
}
#root > div:nth-child(3) > div > div.p-datatable-wrapper > table > tbody {
  border-radius: var(--border-radius-2);
}
.p-multiselect-items-wrapper {
  max-height: unset !important;
}
table {
  border-collapse: collapse;
}
@media (max-width: 900px) {
  tr {
    border-bottom: 20px solid var(--cyan-50);
  }
}

.p-column-filter.p-fluid.p-column-filter-row
  .p-column-filter-menu-button.p-link {
  display: none;
}

.p-column-filter.p-fluid.p-column-filter-row
  .p-column-filter-clear-button.p-link {
  display: none;
}

.gitflow-column,
.branch-name-column,
.branch-label-column,
.branch-localization-column {
  max-width: 260px;
  min-width: 260px;
}
.mr-2 {
  margin-right: 8px;
}
